---
title: swihack
language: Deutsch
lang: de
ref: index
layout: default
---

<header>
	<h1>{{ site.de.tagline }}</h1>
	<h5>{{ site.de.description }}</h5>
</header>

<hr>
<h2>{{ site.de.current.title }}</h2>
<section id="frontpage" class="tiles">
{% for post in site.posts %}{% if post.frontpage %}
	<article class="{{ post.style }}">
		<span class="image">
			{% if post.image contains '://' %}
			<img src="{{ post.image }}" />
			{% else %}
			<img src="{{ site.baseurl }}/{{ post.image }}" />
			{% endif %}
		</span>
		<a href="{{ post.url | prepend: site.baseurl }}">
			<p>{{ post.when | date: "%b %-d, %Y" }}</p>
			<h2>{{ post.title }}</h2>
			<div class="content">
				<p>{{ post.tagline }}</p>
			</div>
		</a>
	</article>
{% endif %}{% endfor %}
</section>
