---
title: swihack
language: Deutsch
lang: de
ref: index
layout: default
---

<header>
	<h1>{{ site.de.tagline }}</h1>
	<h5>{{ site.de.description }}</h5>
</header>

<section id="intro">
	<p>{{ site.de.current.summary }}</p>
	{% if site.results %}
	<a href="{{ site.results }}" target="_blank" class="button">
    &#128640; {{ site.de.current.results }}
  </a>
	{% else %}
	<a href="{{ site.de.current.link }}" target="_blank" class="button">
		{{ site.de.current.register }}
	</a>
	<a href="{{ site.challenges }}" target="_blank" class="button">
    &#127942; {{ site.de.current.challenges }}
  </a>
	{% endif %}
</section>
<hr>
<h2>{{ site.de.current.details }}</h2>

<section id="frontpage" class="tiles">
{% for post in site.posts %}{% if post.frontpage %}
	<article class="{{ post.style }}">
		<span class="image">
			{% if post.image contains '://' %}
			<img src="{{ post.image }}" />
			{% else %}
			<img src="{{ site.baseurl }}/{{ post.image }}" />
			{% endif %}
		</span>
		<a href="{{ post.url | prepend: site.baseurl }}">
			<p>{{ post.when | date: "%b %-d, %Y" }}</p>
			<h2>{{ post.title }}</h2>
			<div class="content">
				<p>{{ post.tagline }}</p>
			</div>
		</a>
	</article>
{% endif %}{% endfor %}
</section>
